<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils is working</title>
</head>

<body>
<h1>Welcome to the Text analyzer . Enter your text below </h1>
<form action='/analyze' method='get'>
    <textarea name="text" style="width: 708px; height: 273px;"></textarea><br>
    <input type='checkbox' name='removepunc'> Remove punctuations <br>
    <input type='checkbox' name='fullcaps'> Upper Case <br>
    <input type='checkbox' name='newlineremover'> New Line Remover <br>
    <input type='checkbox' name='extraSpaceRemover'>Extra Space Remover <br>
     <input type='checkbox' name='CharacterCounter'>Count the Character<br>
    <button type = 'submit'>Analyze Text</button>
</form>

</body>
</html>